
.bigblue {
  
    padding-left: 10px;
    padding-top:30px;
    padding-right:20px;

    font-family: Arial;
    text-align: left;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 200px;
    width:35%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.noshow {
   display:none;
}

.lank{
    position:relative;
    width:70%;
   
}

.rad{
    height:80px;
  
}

.icon {
    position: absolute;
    right: 0px;
    width: 30%;

    height: 70px;
 
}

.line {
    width: 90%;
    border-bottom: 1px solid black;
    position: absolute;
}

.iconsmhi {
    background-image: url(../images/smhi.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    position: center;
    margin: 0 auto;
    height: 40%;
    width: 40%;
    top: 5px;
}

.test {
    background-image: url(../images/smhi2.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    float: right;
    height: 40px;
    width: 40px;
}

.iconCollapse {
    cursor: pointer;
    background-image: url(../images/collapse.png);
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    margin-right: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    float: right;
    height: 40px;
    width: 40px;
}


.clear {
    cursor: pointer;
    background-image: url(../images/clear.png);
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    margin-right: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin: 0 auto;
    position:relative;
    height: 40px;
    width: 40px;
}

.fair {
    cursor: pointer;
    background-image: url(../images/fair.png);
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    margin-right: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height: 40px;
    width: 40px;
}

.partly {
    cursor: pointer;
    background-image: url(../images/partly.png);
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    margin-right: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height: 40px;
    width: 40px;
}

.cloudy {
    cursor: pointer;
    background-image: url(../images/cloudy.png);
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    margin-right: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height: 40px;
    width: 40px;
}

.rain {
    cursor: pointer;
    background-image: url(../images/rain.png);
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    margin-right: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin: 0 auto;
    position: relative;
    height: 40px;
    width: 40px;
}

.foggy {
    cursor: pointer;
    background-image: url(../images/foggy.png);
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    margin-right: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    position: relative;
}




.firstCollapse0 {
    display: none;
}

.firstExpand {
   width:100%;
}

.firstCollapse1 {
    width: 100%;
}

.firstExpand1 {
    width: 100%;
}

.iconCollapse2 {
    width: 100%;
   
}

.iconExpand {
    cursor: pointer;
    background-image: url(../images/expand.png);
    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline: none;
    margin-right: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    float: right;
    height: 40px;
    width: 40px;
}


.testSMHI {
    background-image: url(../images/yr-logo.png );
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    float: left;
    height: 40px;
    width: 40px;
}

.test2 {
    width: 100%;
  
}




.days {
    background-color: #ff7800;
    color: #00ffff;
    height: 50px;
    width:100%;
    padding-left: 10px;
    padding-top: 10px;
}

.first{
    width:10%;

}

.firstCoverage {
    width: 50%;

    float:left;
}


.secondCoverage {
    width: 50%;

    float: right;
}

.second {
    text-align: right;
    color:red;
    border-right: 5px solid #ff7800;
    padding-right: 5px;
    width: 6%;

}

.third {
    
    text-align: left;
    color: red;
    border-left: 5px solid #ff7800;
    padding-left: 5px;
    width: 6%;
}

.fourth{
    text-align:right;
    width:10%;
}

.stad{
    background-color:blue;
    width:10%;
}

.loggor {
    margin: 0 auto;
    width: 20%;
    background-color: blue;
    text-align: center;
    min-width: 100px;
    height: 100%;
}

.firstColumn {

    width: 45%;
    padding-right:5px;
}

.secondColumn {

    width: 10%;
    min-width:100px;
    text-align: center;
}

.thirdColumn {
  
    width: 45%;
    padding-left: 5px;
}



.test3 {
    width: 100%;
    height:50px;
    background-color:lightgray;
    padding-right: 5px;
    border-bottom: 5px solid gray;
}

.test4 {
 
    width:100%;

}

.test5 {
    width: 50%;
    text-align: right;

    padding-right: 5px;

}

.test6 {

    width: 5px;
    text-align: right;


}

.test7 {
    width: 50%;

    padding-left:5px;
}

input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(../images/search-icon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}

    input[type=text]:focus {
        width: 100%;
    }

.holder{
    width:50%;
  
}


.iconyr {
    background-image: url(../images/yr-logo.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    position: center;
    margin: 0 auto;
    bottom: 0px;
    height: 40%;
    width: 40%;
}

.knapp {
    background-color: #f9f9f9;
    color:dimgray;
    border:0px;
    text-align:left;
}

    .knapp:hover {
        text-decoration: underline;
        color: blue;
    }

